## Web Scraping using python and beautiful soup to create a dataframe for futher analysis

In this project I will be `scraping` data from the `imdb movie website` using `beautifulSoup` and `requests` libraries. 
The data will be stored in a `dataframe` for further analysis.

![imdb imdb](imdb2.png)

Import the `Libraries` needed for this project.

In [1]:
#Importing the libraries

import pandas as pd #to create dataframe
import numpy as np  # to count the values 
from bs4 import BeautifulSoup #to get the content in the form of HTML
import requests #The requests module allows you to send HTTP requests using Python

Create a `variable` and store the website url that you want to scrape.

In [2]:
# Assigning the url to a variable named "url"

url = "https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating"

The `requests` module allows you to send `HTTP` requests using `Python`
The HTTP request returns a Response `Object` with all the response data `(content, encoding, status, etc)`.

In [3]:
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
response

Creating an empty `list`, so that we can `append` the values that we scrape.

In [5]:
movie_name = []
year = []
time = []
rating = []
metascore = []
votes = []
gross = []
description = []
Director = []
Stars = []

Storing the meaningfull required data in the variable `"movie_data"`.

In [6]:
movie_data = soup.findAll('div', attrs = {'class' : 'lister-item mode-advanced' })

Using a for loop to scrape data using "find" functions and storing the data in the list created as well as doing feature engineering.

In [7]:


for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    year_of_release = store.h3.find('span', class_ = "lister-item-year text-muted unbold").text.replace('(','').replace(')','')
    year.append(year_of_release)
    
    runtime = store.p.find('span', class_ = 'runtime').text.replace(' min', '')
    time.append(runtime)
    
    rate = store.find("div", "inline-block ratings-imdb-rating").text.replace('\n','')
    rating.append(rate)
    
    meta = store.find("span", class_ = "metascore favorable").text.replace(' ', "") if store.find("span", class_ = "metascore favorable") else ''
    metascore.append(meta)
    
    value = store.find_all('span', attrs = {'name' : 'nv'})
    
    vote = value[0].text
    votes.append(vote)
    
    # Gross and votes have same attributes, so i created a common variable and then used indexing
    grosses = value[1].text if len(value) > 1 else '******'
    gross.append(grosses)
    
    # Description of the Movies --
    description_1 = store.find_all("p", class_ = "text-muted")
    description_2 = description_1[1].text.replace("\n",'') if len(description_1) > 1 else "******"
    description.append(description_2)
    
    director_1 = store.find_all("p")
    director_2 = director_1[2].text.replace('\n', '').split("|")
    director_3 = director_2[0].split(':')
    director_4 = director_3[1]
    Director.append(director_4)
    
    #Cast Details -- Scraping Director name and Stars 
    cast = director_2[1].split(':')
    cast_1 = cast[1:]
    Stars.append(cast_1)

Creating a `dataframe` using `pandas` library.

In [8]:
movie_df = pd.DataFrame({"Name of movie": movie_name, "Year of release": year, "Runtime": time, "Ratings": rating, "Metascore": metascore, "Votes": votes, "Gross": gross, "Discription": description, "Director": Director, "Stars": Stars})

Use `np.count()` to count the rows we have which should equal to `100`.

In [9]:
np.count_nonzero(movie_name)

100

Viewing the first 30 rows of the data.

Feature engineering and data cleaning can now be done before exploring the data for insights via a dashboard or to build a movie recommendation system etc.

In [10]:
movie_df.head(30)

,Name of movie,Year of release,Runtime,Ratings,Metascore,Votes,Gross,Discription,Director,Stars
0,Jai Bhim,2021,164,9.3,,"173,420",#138,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"[Suriya, Lijo Mol Jose, Manikandan, Rajisha Vi..."
1,The Shawshank Redemption,1994,142,9.3,80,"2,541,720",$28.34M,Two imprisoned men bond over a number of years...,Frank Darabont,"[Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
2,The Godfather,1972,175,9.2,100,"1,748,755",$134.97M,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"[Marlon Brando, Al Pacino, James Caan, Diane K..."
3,Soorarai Pottru,2020,153,9.1,,"107,193",#249,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Sudha Kongara,"[Suriya, Paresh Rawal, Aparna Balamurali, Prak..."
4,The Dark Knight,2008,152,9.0,84,"2,491,936",$534.86M,When the menace known as the Joker wreaks havo...,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart, ..."
5,The Godfather: Part II,1974,202,9.0,90,"1,212,878",$57.30M,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"[Al Pacino, Robert De Niro, Robert Duvall, Dia..."
6,12 Angry Men,1957,96,9.0,96,"751,005",$4.36M,The jury in a New York City murder trial is fr...,Sidney Lumet,"[Henry Fonda, Lee J. Cobb, Martin Balsam, John..."
7,The Lord of the Rings: The Return of the King,2003,201,8.9,94,"1,752,433",$377.85M,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"[Elijah Wood, Viggo Mortensen, Ian McKellen, O..."
8,Pulp Fiction,1994,154,8.9,94,"1,955,545",$107.93M,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"[John Travolta, Uma Thurman, Samuel L. Jackson..."
9,Schindler's List,1993,195,8.9,94,"1,297,684",$96.90M,"In German-occupied Poland during World War II,...",Steven Spielberg,"[Liam Neeson, Ralph Fiennes, Ben Kingsley, Car..."
10,Inception,2010,148,8.8,74,"2,232,432",$292.58M,A thief who steals corporate secrets through t...,Christopher Nolan,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elli..."
11,Fight Club,1999,139,8.8,66,"2,000,456",$37.03M,An insomniac office worker and a devil-may-car...,David Fincher,"[Brad Pitt, Edward Norton, Meat Loaf, Zach Gre..."
12,The Lord of the Rings: The Fellowship of the Ring,2001,178,8.8,92,"1,774,082",$315.54M,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"[Elijah Wood, Ian McKellen, Orlando Bloom, Sea..."
13,Forrest Gump,1994,142,8.8,82,"1,961,159",$330.25M,"The presidencies of Kennedy and Johnson, the V...",Robert Zemeckis,"[Tom Hanks, Robin Wright, Gary Sinise, Sally F..."
14,"Il buono, il brutto, il cattivo",1966,161,8.8,90,"733,558",$6.10M,A bounty hunting scam joins two men in an unea...,Sergio Leone,"[Clint Eastwood, Eli Wallach, Lee Van Cleef, A..."
15,Spider-Man: No Way Home,2021,148,8.7,71,"448,523",#26,"With Spider-Man's identity now revealed, Peter...",Jon Watts,"[Tom Holland, Zendaya, Benedict Cumberbatch, J..."
16,Dara iz Jasenovca,2020,130,8.7,,"80,324",******,Follows the story of a young girl named Dara w...,Predrag Antonijevic,"[Biljana Cekic, Zlatan Vidovic, Anja Stanic, L..."
17,Shershaah,2021,135,8.7,,"112,913",******,The story of PVC awardee Indian soldier Capt. ...,Vishnuvardhan,"[Sidharth Malhotra, Kiara Advani, Shiv Panditt..."
18,Sardar Udham,2021,164,8.7,,"35,962",******,A biopic detailing the 2 decades that Punjabi ...,Shoojit Sircar,"[Vicky Kaushal, Banita Sandhu, Shaun Scott, St..."
19,The Lord of the Rings: The Two Towers,2002,179,8.7,87,"1,583,317",$342.55M,While Frodo and Sam edge closer to Mordor with...,Peter Jackson,"[Elijah Wood, Ian McKellen, Viggo Mortensen, O..."
20,The Matrix,1999,136,8.7,73,"1,833,923",$171.48M,When a beautiful stranger leads computer hacke...,"Lana Wachowski, Lilly Wachowski","[Keanu Reeves, Laurence Fishburne, Carrie-Anne..."
21,Goodfellas,1990,146,8.7,90,"1,098,550",$46.84M,The story of Henry Hill and his life in the mo...,Martin Scorsese,"[Robert De Niro, Ray Liotta, Joe Pesci, Lorrai..."
22,Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,82,"1,232,558",$290.48M,After the Rebels are brutally overpowered by t...,Irvin Kershner,"[Mark Hamill, Harrison Ford, Carrie Fisher, Bi..."
23,One Flew Over the Cuckoo's Nest,1975,133,8.7,84,"972,063",$112.00M,A criminal pleads insanity and is admitted to ...,Milos Forman,"[Jack Nicholson, Louise Fletcher, Michael Berr..."
24,Gisaengchung,2019,132,8.6,96,"715,377",$53.37M,Greed and class discrimination threaten the ne...,Bong Joon Ho,"[Kang-ho Song, Sun-kyun Lee, Yeo-jeong Cho, Wo..."
25,Drishyam 2,2021,152,8.6,,"33,770",******,A gripping tale of an investigation and a fami...,Jeethu Joseph,"[Mohanlal, Meena, Ansiba, Esther Anil]"
26,Interstellar,2014,169,8.6,74,"1,686,674",$188.02M,A team of explorers travel through a wormhole ...,Christopher Nolan,"[Matthew McConaughey, Anne Hathaway, Jessica C..."
27,Cidade de Deus,2002,130,8.6,79,"734,019",$7.56M,"In the slums of Rio, two kids' paths diverge a...","Fernando Meirelles, Kátia Lund","[Alexandre Rodrigues, Leandro Firmino, Matheus..."
28,Sen to Chihiro no kamikakushi,2001,125,8.6,96,"717,298",$10.06M,"During her family's move to the suburbs, a sul...",Hayao Miyazaki,"[Daveigh Chase, Suzanne Pleshette, Miyu Irino,..."
29,Saving Private Ryan,1998,169,8.6,91,"1,325,964",$216.54M,"Following the Normandy Landings, a group of U....",Steven Spielberg,"[Tom Hanks, Matt Damon, Tom Sizemore, Edward B..."

In [11]:
movie_df.shape

(100, 10)

In [12]:
movie_df = movie_df.to_csv('movie_df')